<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="koboform view">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="kpi-root-url" content="{% url 'kpi-root' %}">
    {% if csrf_token %}<meta name="csrf-token" content="{{csrf_token}}">{% endif %}

    {% if raven_js_dsn %}
      <script src="https://cdn.ravenjs.com/3.22.3/raven.min.js" crossorigin="anonymous"></script>
      <script>
        Raven.config('{{raven_js_dsn}}').install()
      </script>
    {% endif %}

    {% load render_bundle from webpack_loader %}
    {% load staticfiles %}
    
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

    {% render_bundle 'app' 'css' %}
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="{% static 'js/vendor/html5shiv.js' %}"><\/script>')</script>
    <![endif]-->

    {% if config.logo %}
      <style>
        .mdl-layout__header .header__logo {
          background-image: url("{{ config.logo }}") !important;
        }
      </style>
    {% endif %}
    {% if config.logo_small %}
      <style>
        @media screen and (max-width: 767px) {
          .mdl-layout__header .header__logo {
            background-image: url("{{ config.logo_small }}") !important;
          }
        }
      </style>
    {% endif %}

    {% if intercom_app_id %}
    <script>
      window.IntercomAppId = '{{intercom_app_id}}';
      (function() {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === "function") {
          ic('reattach_activator');
          ic('update', intercomSettings);
        } else {
          var d = document;
          var i = function() {
            i.c(arguments)
          };
          i.q = [];
          i.c = function(args) {
            i.q.push(args)
          };
          w.Intercom = i;

          function l() {
            var s = d.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'https://widget.intercom.io/widget/' + window.IntercomAppId;
            var x = d.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
          }
          if (w.attachEvent) {
            w.attachEvent('onload', l);
          } else {
            w.addEventListener('load', l, false);
          }
        }
      })()
    </script>
    {% endif %}
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock content %}

    {% block footer %}
      <!-- Make Django's internationalization functionality available in client code. -->
      <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

      {% render_bundle 'app' 'js' %}

    {% endblock footer %}

    {% if google_analytics_token %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{google_analytics_token}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
