// drawer (sidebar)

.k-drawer {
  height: calc(100% - 66px);
  top: 65px;
  width: 270px;
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: row;
}

.mdl-layout__content {
  margin-left: 270px;
}

.k-drawer__icons {
  /*display: flex;*/
  display: none;
  flex-direction: column;
  width: 58px;
  height: 100%;
  border-right: 1px solid #D9DADD;
}

.k-drawer__link {
  font-size: 42px;
  text-align: center;
  color: $cool-silver;
  padding: 0px;
  border-left: 3px solid transparent;

  &:first-child {
    margin-top: 20px;
  }

  &.active {
    color: $cool-green;
    border-left: 3px solid $cool-green;
  }
}

.k-drawer__icons-bottom {
  display: none;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 58px;

  .k-drawer__link {
    padding: 0px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-weight: normal;
    position: relative;
    color: $cool-silver;

    &:hover {
      color: $cool-blue;
    }

    i {
      font-size: 38px;
    }
  }
}

.drawer__sidebar {
  width: calc(100% - 58px);
  height: 100%;
  padding: 20px 14px;

  .form-sidebar__wrapper, .collections-wrapper {
    height: 100%;
  }

  button.mdl-button {
    width: 100%;
  }
}

@media screen and (max-width: 999px) {
  .k-drawer {
    position: fixed;
    z-index: 4;
    left: -274px;
    transition: left 0.5s;
    background-color: #FFF;

    @include box-shadow;
  }

  .page-wrapper--fixed-drawer .k-drawer {
    left: 0px;
    width: 340px;
  }

  .mdl-layout__content {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .mdl-layout__content {
    margin-left: 18px;
  }
}
