{% extends "registration.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
  <form method="post" action="." class="registration registration--login">
    <div class="registration--logo"><a href="/">
    {% block logo %}{{ block.super }}{% endblock %}
    </a></div>
    {% csrf_token %}
    {% csrf_token %}

    <p class="fieldWrapper">
        {{ form.non_field_errors }}
    </p>

    <p class="fieldWrapper">
        {{ form.username.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.help_text %}
            <span class="help">{{ form.username.help_text|safe }}</span>
        {% endif %}
    </p>
    
    <p class="fieldWrapper">
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.username.help_text %}
            <span class="help">{{ form.password.help_text|safe }}</span>
        {% endif %}
    </p>
    
    <a href="{% url 'auth_password_reset' %}" class="registration__forgot" tabindex="-1">Forgot?</a>

    <p class="fieldWrapper">
        {{ form.otp_token.errors }}
        {{ form.otp_token.label_tag }}
        {{ form.otp_token }}
        {% if form.otp_token.help_text %}
            <span class="help">{{ form.otp_token.help_text|safe }}</span>
        {% endif %}
    </p>
    <a href="{% url 'auth_password_reset' %}" class="registration__forgot">
      {% trans "Forgot?" %}
    </a>

    <input type="submit" value="Login" class="registration__action" />
    <input type="hidden" name="next" value="{{ next }}" />

    {% if config.REGISTRATION_OPEN %}
      <div class="registration__footer">
        {% trans "or" %} <a href="{% url 'registration_register' %}">{% trans "create an account" %}</a>
      </div>
    {% endif %}
  </form>
{% endblock %}

