{% extends "registration.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<form method="post" action="." class="registration registration--login">
  <div class="registration--logo">
    <a href="/">
      {% block logo %}{{ block.super }}{% endblock %}
    </a>
  </div>
{% if validlink %}
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Submit' %}" class="registration__action"/>
{% else %}
  <p>{% trans "Password reset failed" %}</p>
{% endif %}
</form>
{% endblock %}
